.res-home-form-search {
  // background-color: oldlace;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.res-home-block-text-1 {
  font-family: Montserrat-Medium;
  font-size: 40px;
  color: rgb(72, 72, 72);
  letter-spacing: 0;
  text-align: center;
}
.res-home-block-text-2 {
  font-family: Montserrat-Light;
  font-size: 30px;
  color: rgb(72, 72, 72);
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}