.form-user-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  .form-register, .form-follow {
    margin: 4px;
    .ant-btn {
      border-radius: 10px;
      background-color: white;
      // box-shadow: 
      width: 300px;
      min-height: 60px;
      height: auto;
      padding: 10px;
      // box-shadow: 1px 2px #888888;
      h3 {
        font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
      }
      h6 {
        word-wrap: break-word;
        white-space: pre-wrap; 
      }
      &:hover {
        background-color: whitesmoke;
        box-shadow: 1px 1px #888888;
        color: whitesmoke;
      }
    }
  }
}

.btn-pin-right-bottom {
  font-size: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
}